root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
# Allman braces
csharp_new_line_before_open_brace = all
# file-scoped namespaces
csharp_style_namespace_declarations = file_scoped:warning
# _camelCase private fields
dotnet_naming_rule.private_fields_underscore.severity = suggestion
dotnet_naming_rule.private_fields_underscore.symbols = private_fields
dotnet_naming_rule.private_fields_underscore.style = underscore_camel
dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private
dotnet_naming_style.underscore_camel.required_prefix = _
dotnet_naming_style.underscore_camel.capitalization = camel_case
max_line_length = 120

[*.{md,yml,yaml,axaml,xaml}]
indent_size = 2
